In [1]:
import pandas as pd
pd.__version__

'2.2.2'

In [2]:
print('Femi')

Femi

#####  Pyarrow.parquet reads a parquet file as a table  which can be converted to a pandas dataframe

In [21]:
import pyarrow.parquet as pq

# Read the first 100 rows efficiently
table = pq.read_table("yellow_tripdata_2021-01.parquet")
df = table.to_pandas()

##### This gets the schema from the dataframe which can be used to create a table schema in our database

In [8]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

#### To create a DDL statement which will create the schema in database

In [4]:
from sqlalchemy import create_engine

In [5]:
#create a connection to the postgres database with our credentials

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

##### create a table with the header first.

This is can be done by first sending the header alone first and then sending the data rows in chunks

In [20]:
#First send only table headers
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') 
#This creates a new table in the DB and replaces any DB with same name if it exists

0

In [ ]:
#This appends the dataframe to the table if it exists (and it exists because we have created it already)
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [24]:
### Running the above line of code in an iterative manner to send the data in chunks

import pyarrow.parquet as pq
import pandas as pd
from sqlalchemy import create_engine



# Define chunk size
chunk_size = 100000

# Open Parquet file
parquet_file = pq.ParquetFile("yellow_tripdata_2021-01.parquet")

# Iterate through row groups
for i in range(parquet_file.num_row_groups):
    table = parquet_file.read_row_group(i)  # Read one row group at a time
    df = table.to_pandas()  # Convert to Pandas DataFrame

    # Process the DataFrame in chunks
    for j in range(0, len(df), chunk_size):
        df_chunk = df.iloc[j:j + chunk_size]  # Get the current chunk
        df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
        print(f"Inserted rows {j} to {j + len(df_chunk)}")

Inserted rows 0 to 100000
Inserted rows 100000 to 200000
Inserted rows 200000 to 300000
Inserted rows 300000 to 400000
Inserted rows 400000 to 500000
Inserted rows 500000 to 600000
Inserted rows 600000 to 700000
Inserted rows 700000 to 800000
Inserted rows 800000 to 900000
Inserted rows 900000 to 1000000
Inserted rows 1000000 to 1100000
Inserted rows 1100000 to 1200000
Inserted rows 1200000 to 1300000
Inserted rows 1300000 to 1369769

In [ ]:
#To read data from the SQL or write queries

#### To query data from the database

In [38]:
#First create a connection to the database

from sqlalchemy import create_engine

# Create an SQLAlchemy engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
# write your query and run this:
query = "SELECT * FROM yellow_taxi_data LIMIT 10;"

df = pd.read_sql(query, engine)

In [28]:
#Alternatively, we can connect using psycopg2

# Create a psycopg2 connection
engine = psycopg2.connect(
    dbname="ny_taxi",
    user="root",
    password="root",
    host="localhost",
    port="5432"
)

# Use pandas to fetch data
df2 = pd.read_sql(query, engine)

C:\Users\USER\AppData\Local\Temp\ipykernel_428\1936468720.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql(query, engine)

In [29]:
#Remember to close the connection afterwards
engine.close()

In [ ]:
import pyarrow.parquet as pq
from sqlalchemy import create_engine
import pandas as pd


# Read the first 100 rows efficiently
table = pq.read_table("yellow_tripdata_2021-01.parquet")
df = table.to_pandas()

#First send only table headers
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') 
#This creates a new table in the DB and replaces any DB with same name if it exists


# Define chunk size
chunk_size = 100000

# Open Parquet file
parquet_file = pq.ParquetFile("yellow_tripdata_2021-01.parquet")

# Iterate through row groups
for i in range(parquet_file.num_row_groups):
    table = parquet_file.read_row_group(i)  # Read one row group at a time
    df = table.to_pandas()  # Convert to Pandas DataFrame

    # Process the DataFrame in chunks
    for j in range(0, len(df), chunk_size):
        df_chunk = df.iloc[j:j + chunk_size]  # Get the current chunk
        df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
        print(f"Inserted rows {j} to {j + len(df_chunk)}")

In [31]:
import pyarrow.parquet as pq
from sqlalchemy import create_engine
import pandas as pd

In [32]:
parquet_file = pq.ParquetFile("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet")

ArrowInvalid: Unrecognized filesystem type in URI: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet

In [35]:
import pandas as pd

import fsspec

In [36]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [37]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [41]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265